.App {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main-Box {
  border: 1px solid black;
}

.wrapper-article-content {
  display: flex;
  flex-direction: column;

}

.article-content{
  border: 1px solid black;
}

.AddHeader {
  min-height: 150px;
  background-color: #adc6d2;
   
}

.SearchSuggestion {
  padding: 2px;
  border: 1px solid black;
  background-color: #adc6d2;
  margin: 4px 4px 4px 4px;
}

.flex-container {
  border: 1px slategray solid;
  display: grid;
  flex-direction: column;
  justify-content: stretch;
  align-self: center;
}

.addBtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ticker {
  padding: 15px;
  border: 1px slategray solid;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-around;
}

.header {
  background-color: grey !important;
  font-weight: 900;
  min-width: 30px;
  align-items: stretch;
}

.item {
  align-items: stretch;
  min-width: 30px;
  max-width: 30px;
}

.val-box {
  display: flex;
  flex-direction: column;
}

.Liquidity {
  background: #50ac98;
}

.price-span {
  border: 1px solid black;
}

.react-autosuggest__input {
  width: 185px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.form-box{
  width: 90%;
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
}

.form-item {
  margin: 2px 2px 2px 2px;
}

@media only screen and (max-width: 1024px) {
  .form-box {
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.loginContainer {
  display: flex;
  width: 25rem;
  justify-content: center;
  align-items: "center";
  text-align: "center";
  background-color: white;
  flex-direction: column;
  padding: 2rem 2rem;
}

.bgbg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: silver;
}


.loginf {
  padding: 0.5rem 0rem 0rem 0rem;
}

.alignleft {
  margin-left:0;
  margin-right:auto;
}

.buttonlikelink {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
